#headerJumbotron{
    color: black;
}

#headerJumbotron{
    margin-bottom: 0px;
    background-image: url(http://lorempixel.com/output/technics-q-c-640-480-8.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#headerJumbotron h1{
    padding-top: 25px;
    color: red;
}